<mat-toolbar id="navbar" color="primary">
  <mat-toolbar-row>
    <span>Daniele Piscaglia</span>
    <span class="example-spacer"></span>
    <mat-icon svgIcon="github"></mat-icon>
    <mat-icon svgIcon="linkedin"></mat-icon>
    <mat-icon svgIcon="fb"></mat-icon>
    <mat-icon svgIcon="whatsapp"></mat-icon>
    <mat-icon svgIcon="email" style="width:26px; height:26px;"></mat-icon>
<!--    <mat-icon svgIcon="instagram"></mat-icon>-->
<!--    <mat-icon svgIcon="telegram"></mat-icon>-->
<!--    <mat-icon svgIcon="twitter"></mat-icon>-->
  </mat-toolbar-row>
</mat-toolbar>

