@import "../variables.scss";

mat-icon {
  padding: 0 14px;
}


mat-icon:hover{
  color: $backColor;
}

#navbar{
  background: $elementColor;
  color: $darkTextColor;

  .socials {
    justify-content: space-evenly;
    align-content: center;
    width: 40%;
    display: flex;
    max-width: 200px;

    a{
      color: inherit;
      font-size: xx-large;
      width: 52px;


      mat-icon{
        padding: 0;
      }
    }
  }


}

#firma{
  font-family: Belove;
  //font-size: 4em;
  line-height: inherit;
  vertical-align: middle;
  width: 40vw;
  max-width: 530px;
}

.example-spacer {
  flex: 1 1 auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}


.sticky + .content {
  padding-top: 60px;
}
