<mat-toolbar id="navbar" color="primary">
  <mat-toolbar-row>
    <div id="firma" fittext><div>Daniele Piscaglia</div></div>
    <span class="example-spacer"></span>

      <!--    <mat-icon>delete</mat-icon>-->
      <div class="socials">
        <a href="https://github.com/danipisca07"><mat-icon svgIcon="github"></mat-icon></a>
        <a href="https://www.linkedin.com/in/daniele-piscaglia-b0610350/"><mat-icon svgIcon="linkedin"></mat-icon></a>
        <a href="https://www.facebook.com/danipisca/"><mat-icon svgIcon="fb"></mat-icon></a>
        <a href="tel:+393332583936"><mat-icon svgIcon="whatsapp"></mat-icon></a>
        <a href="mailto:danielepiscaglia@libero.it"><mat-icon svgIcon="email"
                                                              style="width:26px; height:26px;
                                                            font-size: xx-large;
                                                            transform: translateX(-3px);">
        </mat-icon></a>
      </div>
      <!--    <mat-icon svgIcon="instagram"></mat-icon>-->
      <!--    <mat-icon svgIcon="telegram"></mat-icon>-->
      <!--    <mat-icon svgIcon="twitter"></mat-icon>-->
    <!--<div fxShow="true" fxHide.gt-sm="true">
      <a href="#" (click)="sidenav.toggle()">Show Side Menu</a>
    </div>-->
  </mat-toolbar-row>
</mat-toolbar>
<div id="spaceholder"></div>

