@import "../variables.scss";

mat-icon {
  padding: 0 14px;
}


mat-icon:hover{
  color: $backColor;
}

#navbar{
  background: $elementColor;
  color: $darkText;
}

#firma{
  font-family: Belove;
  font-size: 500%;
  line-height: inherit;
  vertical-align: middle;
}

.example-spacer {
  flex: 1 1 auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}


.sticky + .content {
  padding-top: 60px;
}
