<div class="container">
  <div id="contacts">
    <h2>Daniele Piscaglia</h2>
    <ul>
      <li>
        Get in touch with me at <a href="mailto:danielepiscaglia@libero.it">danielepiscaglia@libero.it</a>
      </li>
    </ul>
  </div>
  <div class="socials">
    <a href="https://github.com/danipisca07"><mat-icon svgIcon="github"></mat-icon></a>
    <a href="https://www.linkedin.com/in/daniele-piscaglia-b0610350/"><mat-icon svgIcon="linkedin"></mat-icon></a>
    <a href="https://www.facebook.com/danipisca/"><mat-icon svgIcon="fb"></mat-icon></a>
    <a href="tel:+393332583936"><mat-icon svgIcon="whatsapp"></mat-icon></a>
    <a href="mailto:danielepiscaglia@libero.it"><mat-icon svgIcon="email"
                                                          style="width:26px; height:26px;
                                                            font-size: xx-large;
                                                            transform: translateX(-3px);">
    </mat-icon></a>
  </div>
</div>
