@import "../variables.scss";

.sliding-div {
}

.notYetSlided {
  opacity: 0;
}

.fullWidth {
  width: 100%;
}

.cornered {
  overflow: hidden;
  position: relative;
}

.slideIn {
  transform: translateX(-100vw);
  animation: slideIn 0.8s ease forwards;
}

@keyframes slideIn {
  to { transform: translateX(0); }
}
