<!-- TODO: https://codepen.io/snippy_valson/pen/xVJeQB Press enter to continue home-->


<div class="landing-container">
  <iframe id="backgroundWebGL" src="assets/backgroundSquares.html"></iframe>
  <div class="image">

    <img id="colore" class="colorImg" [style.transform]=translateL src="assets/images/color.png" />
    <img class="placeholder" src="assets/images/placeholder.png"/>
    <img id="bordi" class="colorImg" [style.transform]=translateR src="assets/images/bordi.png" />


    <!--<img id="rosso" class="colorImg" *ngIf="!cursorCentered" [style.transform]=traslateL src="assets/images/rosso.png" />
    <img id="verde" class="colorImg" *ngIf="!cursorCentered" src="assets/images/verde.png" />
    <img id="blu" class="colorImg" *ngIf="!cursorCentered" [style.display]=!cursorCentered [style.transform]=traslateB src="assets/images/blu.png" />-->
  </div>
  <div class="banner">I'm Daniele, welcome to my (somewhat) awesome site!</div>
</div>

