@import "../variables.scss";

#backgroundWebGL {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -10;
  border: none;
  pointer-events: none;
}

.landing-container{
  position:relative;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //background: $backColor;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;

  .banner{
    border: solid 2px black;
    border-radius: 20px;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 2em;
    color: $darkTextColor;
    background: $elementColor;
    padding: 0px 15px;
  }

  .image {
    position:relative;

    .placeholder, .colorImg {
      max-height: 60vh;
      max-width: 65vw;
    }

    .placeholder{
      z-index: 2;
    }

    .colorImg {
      opacity: 100%;
      position: absolute;
      left: 0px;
      top:0px;
    }

    #colore{
      z-index: 0;
    }

    #bordi{
      z-index: 1;
    }
  }
}

