@import "../variables.scss";

h1{
  margin: 30px 0;
  font-family: $mainFont;
  text-align: center;
  font-size: 3em;
}

#aboutContainer{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  font-family: $mainFont;
  text-align: center;

  .box{
    width: 200px;
    align-self: flex-start;
    position: relative;
    padding-top: 170px;

   /* background: $elementColor;
    background-clip: content-box;*/

    mat-icon{
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      width: 150px;
      height: 150px;
    }

    h2{
      font-family: $mainFont;
      line-height: 80%;
      margin: 0 0 10px;
    }

    p{
      margin: 0;
      line-height: 80%;
    }
  }
}

.hexagon{
  background-image: url("../../assets/images/hexagon.svg");
  background-size: contain;
  padding: 0px 50px;
  background-repeat: no-repeat;
  background-position: center;

  min-height: 150px;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

