
<h1>{{ 'about.title' | translate }}</h1>

<div id="aboutTable">
  <div class="stat-row">
    <div class="stat-label">{{ 'about.who' | translate }}</div>
    <div class="stat-value">Daniele Piscaglia</div>
  </div>
  <div class="stat-row">
    <div class="stat-label">{{ 'about.role_label' | translate }}</div>
    <div class="stat-value">{{ 'about.role_value' | translate }}</div>
  </div>
  <div class="stat-row">
    <div class="stat-label">{{ 'about.experience_label' | translate }}</div>
    <div class="stat-value">{{ 'about.experience_value' | translate }}</div>
  </div>
  <div class="stat-row">
    <div class="stat-label">{{ 'about.education_label' | translate }}</div>
    <div class="stat-value">{{ 'about.education_value' | translate }}</div>
  </div>
  <div class="stat-row">
    <div class="stat-label">{{ 'about.location_label' | translate }}</div>
    <div class="stat-value">{{ 'about.location_value' | translate }}</div>
  </div>
  <div class="stat-row">
    <div class="stat-label">{{ 'about.focus_label' | translate }}</div>
    <div class="stat-value">{{ 'about.focus_value' | translate }}</div>
  </div>
  <div class="stat-row">
    <div class="stat-label">{{ 'about.hobby_label' | translate }}</div>
    <div class="stat-value">{{ 'about.hobby_value' | translate }}</div>
  </div>
</div>
