@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap'); //font-family: 'Baloo Tamma 2', cursive;

@font-face {
  font-family: Belove;
  src: url(../assets/fonts/Belove.otf) format("opentype");
}

/******* LIST BOXES *********/

app-sliding-div .sliding-div{
  border-bottom-right-radius: 25px;
}

.listDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;

  p{
    max-width: 60%;
  }

  mat-icon{
    max-width: 35%;
    min-width: 150px;
    min-height: 150px;
    margin: 20px;
  }

}
