@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap'); //font-family: 'Baloo Tamma 2', cursive;

@font-face {
  font-family: Belove;
  src: url(../assets/fonts/Belove.otf) format("opentype");
}

/******* LIST BOXES *********/

.listDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;

  .textBox{
    max-width: 60%;
    margin: 5px 0;
    font-family: $mainFont;
    font-size: 2em;
  }

  mat-icon{
    max-width: 35%;
    min-width: 150px;
    min-height: 150px;
    margin: 20px;
  }

}

ul{
  list-style: none inside none;
  padding: 0;
}

li{
  font-family: $mainFont;
  font-size: 2em;
  list-style: none inside none;
  text-align: center;

  mat-icon{
    vertical-align: middle;
    width: 2em;
    height: 2em;

  }
}
