$backColor: #FFFFFF;
$borderColor: whitesmoke;
$lightTextColor: #DEDEE4;
$darkTextColor: #000000;
$containerColor: #000000;
$elementColor: #000000;
$accentColor: #E63946;

$mainFont: 'IBM Plex Mono', monospace;
$headingFont: 'Space Grotesk', sans-serif;
